.loading-screen {
    width: 100vw;
    background-image: linear-gradient(to top right,#050709,#0F0715,#2A1454);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    /* letter-spacing: 10px; */
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.letter-animation span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s infinite;
}

.main-content {
    opacity: 1;
}
  